---
import { formatDate } from "@/helpers";

interface Props {
  date: string;
}

const { date } = Astro.props;
---

<p class="text-sm">
  Actualizado el: <span class="text-yellow-900">{formatDate(date)}</span>
</p>
