---
import Layout from "@/layouts/Layout.astro";
import bg from "@/assets/bg_404.jpg";
---

<Layout title="404 - Página no encontrada" subtitle="¡Ooops!" bgImage={bg.src}>
  <p class="text-center text-lg">
    Tal vez quieras volver al {""}
    <a href="/" class="text-coffee-600 font-bold">Inicio</a>
  </p>
</Layout>
