---
import Layout from "@/layouts/Layout.astro";
// import CategoryIconLabel from "@/components/ui/CategoryIconLabel.astro";
import bg from "@/assets/bg_home.jpg";
// import HomeGallery from "@/components/gallery/HomeGallery.astro";
import SalesGrid from "@/components/ui/SalesGrid.astro";
import CtaAction from "@/components/ui/CtaAction.astro";
---

<Layout
  title="Especialistas en lámina de acero"
  subtitle="Acero, Ferretería y Materiales de Construcción"
  bgImage={bg.src}
>
  <p class="text-center text-lg mt-1 font-medium text-gray-700 text-balance">
    Mevasa Comercializadora se especialisa en la venta de lámina de acero,
    accesorios de fijación, montaje, sellos, aislantes, molduras, herramientas y
    productos ferreteros. Gracias a nuestra experiencia y compromiso, hemos
    logrado llevar soluciones a clientes en toda la República Mexicana.
  </p>

  <!-- <div class="grid grid-cols-1 lg:grid-cols-3 gap-5 mb-10">
    <CategoryIconLabel icon="icon_coffee.svg" text="Café" />
    <CategoryIconLabel icon="icon_dessert.svg" text="Postres" />
    <CategoryIconLabel icon="icon_tea.svg" text="Té" />
  </div> -->

  <!-- <HomeGallery slot="after-main-content" /> -->
  <SalesGrid />
  <CtaAction />
</Layout>
