---
import { Picture } from "astro:assets";
import { type MenuItem } from "@/types";

interface Props {
  gallery: MenuItem[];
}

const { gallery } = Astro.props;
---

<div class="swiper mySwiper">
  <div class="swiper-wrapper">
    {
      gallery.map((featured_images) => (
        <div class="swiper-slide">
          <a
            href={featured_images?.slug}
            data-pswp-width={featured_images?.featured_images?.full.width}
            data-pswp-height={featured_images?.featured_images?.full.height}
          >
            <Picture
              src={featured_images?.featured_images?.large?.url || ""}
              alt="Galería de imágenes"
              width={featured_images?.featured_images?.large?.width || 600}
              height={featured_images?.featured_images?.large?.height || 600}
              formats={["avif", "webp"]}
            />
          </a>
        </div>
      ))
    }
  </div>
  <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div>
  <div class="swiper-pagination"></div>
</div>

<script>
  // import Swiper JS
  import Swiper from "swiper";
  import { Pagination, Navigation } from "swiper/modules";

  // import Swiper styles
  import "swiper/swiper.css";
  import "swiper/swiper-bundle.css";

  const screenWidth = window.innerWidth;
  console.log(screenWidth);

  const swiper = new Swiper(".mySwiper", {
    autoplay: {
      delay: 1000,
    },
    slidesPerView: screenWidth > 768 ? 3 : 1,
    spaceBetween: 30,
    freeMode: true,
    modules: [Pagination, Navigation],
    pagination: {
      el: ".swiper-pagination",
      clickable: true,
    },
    navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev",
    },
  });
</script>
