---
import GalleryGrid from "@/components/gallery/GalleryGrid.astro";
import { GalleryPageSchema } from "@/types";
const url = `${import.meta.env.API_URL}/pages?slug=galeria`;
const response = await fetch(url);
const json = await response.json();
const data = GalleryPageSchema.parse(json[0]);
---

<section class="bg-white p-8 md:px-10 pb-40 max-w-7xl mx-auto -mt-20 relative">
  <GalleryGrid gallery={data.gallery} />
</section>
