---
import FooterBox from "@/components/ui/FooterBox.astro";
---

<footer class="bg-gray-900 pt-20">
  <div class="max-w-7xl mx-auto mt-10 grid grid-cols-1 lg:grid-cols-3 gap-5">
    <FooterBox heading="Dirección Fiscal">
      <p>Ricardo Flores Magon #103</p>
      <p>Col. Izcalli Chamapa. Naucalpan, EdoMex.</p>
    </FooterBox>
    <FooterBox heading="Contactanos">
      <p>Tel. 55 2353-9837</p>
      <a href="tel+552353 9837" class="text-gray-400 hover:text-gray-300">
        Llama para obtener atención personalizada
      </a>
    </FooterBox>
    <FooterBox heading="Horario">
      <p>Lun - Vie: 09:00 - 18:00</p>
      <p>Sab: 09:00 - 15:00</p>
      <p>Dom: Cerrado</p>
    </FooterBox>
  </div>
  <p class="py-10 text-center text-white text-sm">
    Todos los derechos reservados. Mevasa Comercializadora by Techos y
    Mantenimientos. &copy; {new Date().getFullYear()}
  </p>
</footer>
