<section>
  <h1
    class="text-4xl md:text-6xl font-black uppercase text-gray-800 text-center mt-8 md:mt-20"
  >
    ¡Ups!
  </h1>
  <p
    class="text-xl md:text-2xl font-black uppercase text-gray-800 my-4 md:my-10 lg:my-20 text-center"
  >
    En este momento no hay productos disponibles.
  </p>
  <p class="text-center text-lg">
    Tal vez quieras volver al {''}
    <a href="/catalogo" class="text-yellow-700 font-bold">Catálogo</a>
  </p>
</section>
